[MESSAGES CONTROL]
disable=logging-fstring-interpolation,
        missing-docstring,
        duplicate-code,
        invalid-name,
        global-statement,
        import-error,
        attribute-defined-outside-init,
        too-many-instance-attributes,
        bare-except,
        line-too-long,
        broad-exception-raised,
        too-few-public-methods,
        relative-beyond-top-level,
        multiple-statements,
        too-many-arguments,
        consider-using-enumerate,
        too-many-locals

[FORMAT]
max-line-length=150

[BASIC]
good-names=c, m, i, k, v, gb, fd, ts, df, nd, id, si, d1, d2, d3

[REPORTS]
output-format=colorized
